@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HarmonyOS Sans";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "HarmonyOS Sans";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "HarmonyOS Sans";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "HarmonyOS Sans";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans/HarmonyOS_Sans_Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-style: normal;
  src: url('./fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Light.ttf');
  font-weight: 300;
}


* {
  border: 0;
  font-family: "PingFang SC", "Helvetica Neue", "HarmonyOS Sans SC", "HarmonyOS Sans", "Microsoft YaHei", "Calibri", "sans-serif";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.iconfont {
  font-size: 20px;
  display: inline-block;
}

body {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
}

#app {
  width: 100vw;
  height: 100vh;
}

.page-header {
  height: 70px;
  display: flex;
  border-bottom: 1px solid #E6E6E6;
}

[data-theme='dark'] .page-header {
  border-bottom: 1px solid #3B3B43;
}

.page-header-content {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.page-content {
  margin-top: 36px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.translator-icon-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.translator-icon-arrow:hover {
  background: #F5F5F5;
}

.icon-xiala {
  transition: transform 0.5s;
  -moz-transition: -moz-transform 0.5s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 0.5s; /* Safari 和 Chrome */
  -o-transition: -o-transform 0.5s;
}

.icon-xiala-rotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
  -moz-transition: -moz-transform 0.5s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 0.5s; /* Safari 和 Chrome */
  -o-transition: -o-transform 0.5s;
}
